body {
    margin: 0;
    padding: 0;
    font-family: fantasy;
    background-color: beige;
}

header{
    background-color: green;
    color: white;
    display: flex;
}

#logoSite{
    width: 60px;
    height: 60px;
    padding-right: 10px;
    padding-top: 30px;
    padding-left: 10px;
}

.lien{
    text-decoration: none;
    color: white;
}

#headerLogo{
    display: flex;
}

button{
    background-color: rgb(204,119,34);
    border: none;
    text-align: center;
    width: 120px;
}

#boutonDroite{
    float: right;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 10px;
}