body {
    margin: 0;
    padding: 0;
    font-family: fantasy;
    background-color: beige;
}

header{
    background-color: green;
    color: white;
    padding: 20px;
    border-bottom: 5px;
}

#logoSite{
    width: 60px;
    height: 60px;
    padding-right: 20px;
    padding-top: 10px;
}

.lienAcceuil{
    text-decoration: none;
    color: white;
}

#headerLogo{
    display: flex;
}