body {
    margin: 0;
    padding: 0;
    font-family: fantasy;
    background-color: beige;
}

header{
    background-color: green;
    color: white;
    display: flex;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 15px;
}

#logoSite{
    width: 60px;
    height: 60px;
    padding-right: 10px;
    padding-top: 30px;
    padding-left: 10px;
}

.lien{
    text-decoration: none;
    color: white;
}

nav{
    display: flex;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middlebutton{
    text-align: center;
    width: 300px;
    background-color: rgb(204,119,34);
    margin: 60px;
}

button{
    width: 50px;
}

#titre{
    text-align: center;
}

.topbutton{
    text-align: center;
    width: 150px;
    background-color: rgb(204,119,34);
}
