body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
}

header{
    background-color: green;
    color: white;
    display: flex;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 15px;
}

#logoSite{
    width: 60px;
    height: 60px;
    padding-right: 10px;
    padding-top: 30px;
    padding-left: 10px;
}

.lien{
    text-decoration: none;
    color: white;
}

nav{
    display: flex;
}

.topbutton{
    text-align: center;
    width: 150px;
    background-color: rgb(204,119,34);
}

#searchbar{
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    font-size: 1em;
    height: 3em;
    width: 100%;
    margin-top: 0.5em;
}

#filtre{
    padding: 10px;
}

#inputPassagers{
    width: 2.5rem;
}

ul{
    list-style: none;
    padding: 0px;
    text-align: center;
}

li{
    margin: 0.5rem;
    background-color: rgb(204,119,34);
    padding: 0.5rem;
    border-radius: 0.2rem;
}