body {
    margin: 0;
    padding: 0;
    font-family: fantasy;
    background-color: beige;
}

header{
    background-color: green;
    color: white;
    display: flex;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 15px;
}

#logoSite{
    width: 60px;
    height: 60px;
    padding-right: 10px;
    padding-top: 30px;
    padding-left: 10px;
}

.lien{
    text-decoration: none;
    color: white;
}

nav{
    display: flex;
}

.topbutton{
    text-align: center;
    width: 150px;
    background-color: rgb(204,119,34);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(204,119,34);
    margin-top: 10em;
    padding: 5vw;
    border-radius: 5px;
    color: white;
}

input{
    width: 75vw;
    font-size: 20px;
}

label{
    font-size: 20px;
}

#submit{
    border: none;
    margin-top: 1em;
}